<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dozingcatsoftware.bouncy"
    android:installLocation="auto"
    android:versionCode="20"
    android:versionName="1.5.5" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.VPTheme" >
        <activity
            android:name=".BouncyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AboutActivity" >
        </activity>
        <activity android:name="BouncyPreferences" >
        </activity>
    </application>

</manifest>
